############################
#   ##  BOT SETTINGS  ##   #
############################

#########
# DEBUG #
#########
DEBUG_LEVEL=DEBUG
DEBUG_FORMAT=[%(asctime)s] {%(pathname)s:%(lineno)d} %(levelname)s - %(message)s
DEBUG_DATEFMT=%H:%M:%S

###############
# DISCORD BOT #
###############
TOKEN=
COMMAND_PREFIX=-
CASE_INSENSITIVE=1
OWNER_ID=
STRIP_AFTER_PREFIX=1
DEBUG_GUILDS_IDS=

############
# DATABASE #
############
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_HOST=database
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

###############
# BOT MODULES #
###############

### MESSAGE ANALYZER ###
MA_WORDS_COUNT=3
MA_TEXT_LENGTH=12
MA_USERS_BLACKLIST=



###############################
#   ##  DOCKER SETTINGS  ##   #
###############################

############
# DATABASE #
############
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres